.modal-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-group {
  margin-bottom: 10px;
}

.textarea-group {
  flex-grow: 1; /* Allow this group to expand */
  display: flex;
  flex-direction: column;
}

.textarea-group textarea {
  flex-grow: 1; /* Textarea fills the .textarea-group */
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none; /* Optional */
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 0.9em;
}

.modal-view {
  height: 100%;
}

.tag-value {
  white-space: pre-wrap; /* Preserve formatting */
  margin: 5px 0;
}
