<div *ngIf="card">
  <div *ngIf="!showBackSide">
    <p [style.fontSize]="settings['frontSideFontSize']">{{ card.frontSide }}</p>
  </div>
  <div *ngIf="showBackSide">
    <p>
      Front Side:
      <span [style.fontSize]="settings['frontSideFontSize']">{{ card.frontSide }}</span>
    </p>
    <p>
      Back Side:
      <span [style.fontSize]="settings['backSideFontSize']">{{ card.backSide }}</span>
    </p>
    <p>
      Card Number:
      <span [style.fontSize]="settings['cardNumberFontSize']">{{ card.cardNumber }}</span>
    </p>
    <p>
      Card Name:
      <span [style.fontSize]="settings['cardNameFontSize']">{{ card.cardName }}</span>
    </p>
    <p>
      Notable Cards:
      <span [style.fontSize]="settings['notableCardsFontSize']">{{ getNotableCards() }}</span>
    </p>
    <p>
      Tags:
      <span [style.fontSize]="settings['tagsFontSize']">{{ card.tags.join(', ') }}</span>
    </p>
    <p>
      Date of Last Review:
      <span [style.fontSize]="settings['dateOfLastReviewFontSize']">{{ card.dateOfLastReview }}</span>
    </p>
    <p>
      Repetition Value:
      <span [style.fontSize]="settings['repetitionValueFontSize']">{{ card.repetitionValue }}</span>
    </p>
    <p>
      Repetition History:
      <span [style.fontSize]="settings['repetitionHistoryFontSize']">{{ card.repetitionHistory.join(', ') }}</span>
    </p>
    <p>
      Primary Info:
      <span [style.fontSize]="settings['primaryInfoFontSize']">{{ card.primaryInfo }}</span>
    </p>
    <p>
      Secondary Info:
      <span [style.fontSize]="settings['secondaryInfoFontSize']">{{ card.secondaryInfo }}</span>
    </p>
  </div>
</div>
