div {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

hr {
  margin: 10px 0;
}

p {
  margin: 5px 0;
}

strong {
  color: #333;
}

mat-chip-list {
  display: inline-flex;
  align-items: center;
}

mat-chip {
  margin-right: 5px;
}

button.mat-icon-button {
  vertical-align: middle;
}
