<div *ngIf="card">
  <div *ngIf="!showBackSide">
    <p [style.fontSize]="settings['frontSideFontSize']" [style.fontFamily]="settings['frontSideFontFamily']">
      {{ card.frontSide }}
    </p>
  </div>
  <div *ngIf="showBackSide">
    <p>
      <span *ngIf="settings['showFrontSideLabel'] === 'true'">Front Side: </span>
      <span [style.fontSize]="settings['frontSideFontSize']" [style.fontFamily]="settings['frontSideFontFamily']">
        {{ card.frontSide }}
      </span>
    </p>
    <p>
      <span *ngIf="settings['showBackSideLabel'] === 'true'">Back Side: </span>
      <span [style.fontSize]="settings['backSideFontSize']" [style.fontFamily]="settings['backSideFontFamily']">
        {{ card.backSide }}
      </span>
    </p>
    <p>
      <span *ngIf="settings['showCardNumberLabel'] === 'true'">Card Number: </span>
      <span [style.fontSize]="settings['cardNumberFontSize']">
        {{ card.cardNumber }}
      </span>
    </p>
    <p>
      <span *ngIf="settings['showCardNameLabel'] === 'true'">Card Name: </span>
      <span [style.fontSize]="settings['cardNameFontSize']">
        {{ card.cardName }}
      </span>
    </p>
    <p>
      <span *ngIf="settings['showNotableCardsLabel'] === 'true'">Notable Cards: </span>
      <span [style.fontSize]="settings['notableCardsFontSize']">
        {{ getNotableCards() }}
      </span>
    </p>
    <p>
      <span *ngIf="settings['showTagsLabel'] === 'true'">Tags: </span>
      <span [style.fontSize]="settings['tagsFontSize']">
        {{ card.tags.join(', ') }}
      </span>
    </p>
    <p>
      <span *ngIf="settings['showDateOfLastReviewLabel'] === 'true'">Date of Last Review: </span>
      <span [style.fontSize]="settings['dateOfLastReviewFontSize']">
        {{ card.dateOfLastReview }}
      </span>
    </p>
    <p>
      <span *ngIf="settings['showRepetitionValueLabel'] === 'true'">Repetition Value: </span>
      <span [style.fontSize]="settings['repetitionValueFontSize']">
        {{ card.repetitionValue }}
      </span>
    </p>
    <p>
      <span *ngIf="settings['showRepetitionHistoryLabel'] === 'true'">Repetition History: </span>
      <span [style.fontSize]="settings['repetitionHistoryFontSize']">
        {{ card.repetitionHistory.join(', ') }}
      </span>
    </p>
    <p>
      <span *ngIf="settings['showPrimaryInfoLabel'] === 'true'">Primary Info: </span>
      <span [style.fontSize]="settings['primaryInfoFontSize']">
        {{ card.primaryInfo }}
      </span>
    </p>
    <p>
      <span *ngIf="settings['showSecondaryInfoLabel'] === 'true'">Secondary Info: </span>
      <span [style.fontSize]="settings['secondaryInfoFontSize']">
        {{ card.secondaryInfo }}
      </span>
    </p>
  </div>
</div>
