<!-- Button to select a JSON file -->
<div class="load-user-data-container">

  <div class="top-buttons-container">
    <button class="button" (click)="fileInput.click()" [class.with-tooltip]="showTooltips">
      Select JSON
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Click to choose a JSON file from your device">?</span>
    </button>
    <button class="button" (click)="downloadFlashCardDeck()" [class.with-tooltip]="showTooltips">
      Download JSON
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Click to download the current FlashCardDeck as a JSON file.">?</span>
    </button>
    <input
      #fileInput
      type="file"
      accept=".json"
      (change)="onFileSelected($event)"
      class="hidden-input"
    />

  </div>


  <div class="file-select-container">version: 2025-04-21_10.49</div>

  <div class="title-wrapper">
    <span class="tooltip-icon" appTooltip [tooltipMessage]="'Load user data tooltips.'">?</span>
    <h2>Load user data</h2>
  </div>


  <!-- Drag and drop zone -->
  <div class="drag-drop-zone" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)">
    <div class="drag-drop-wrapper">
      <p *ngIf="!fileName">Drag and drop a JSON file here</p>
      <p *ngIf="fileName">Dropped file: {{ fileName }}</p>
    </div>
    <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Drag a JSON file here to load it into the app. It must be formattet correctly">?</span>
  </div>
</div>
