<!-- Button to select a JSON file -->
<div class="container">

  <div class="top-buttons-container">
    <button class="button" (click)="fileInput.click()" [class.with-tooltip]="showTooltips">
      Select JSON
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.LOADDATA_SELECTBUTTON">?</span>
    </button>
    <button class="button" (click)="downloadFlashCardDeck()" [class.with-tooltip]="showTooltips">
      Download JSON
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.LOADDATA_DOWNLOADBUTTON">?</span>
    </button>
    <input
      #fileInput
      type="file"
      accept=".json"
      (change)="onFileSelected($event)"
      class="hidden-input"
    />

  </div>

  <div class="title-wrapper">
    <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.LOADDATA_TITLE">?</span>
    <h2>Load user data</h2>
  </div>

  <!-- Drag and drop zone -->
  <div class="drag-drop-zone" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)">
    <div class="drag-drop-wrapper">
      <p *ngIf="!fileName">Drag and drop a JSON file here</p>
      <p *ngIf="fileName">Dropped file: {{ fileName }}</p>
    </div>
    <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.LOADDATA_DRAGANDDROP">?</span>
  </div>


  <div class="file-select-container">version: 2025-04-21_10.49</div>

</div>
