<!-- Button to select a JSON file -->
<div class="container">

  <div class="top-buttons-container">
    <button class="button" (click)="fileInput.click()" [class.with-tooltip]="showTooltips">
      Select JSON
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.LOADDATA_SELECTBUTTON">?</span>
    </button>
    <button class="button" (click)="downloadFlashCardDeck()" [class.with-tooltip]="showTooltips">
      Download JSON
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.LOADDATA_DOWNLOADBUTTON">?</span>
    </button>
    <input
      #fileInput
      type="file"
      accept=".json"
      (change)="onFileSelected($event)"
      class="hidden-input"
    />

  </div>

  <div class="title-wrapper">
    <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.LOADDATA_TITLE">?</span>
    <h2>Load user data</h2>
  </div>


  <div class="file-select-container">version: 2025-05-25_17.31</div>

  <!-- Drag and drop zone -->
  <div class="drag-drop-zone" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)">
    <div class="drag-drop-wrapper">
      <p *ngIf="!fileName">Drag and drop a JSON file here</p>
      <p *ngIf="fileName">Dropped file: {{ fileName }}</p>
    </div>
    <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.LOADDATA_DRAGANDDROP">?</span>
  </div>

  <div class="practice-button-container">
    <div class="button-wrapper">
      <button class="button" (click)="goToPractice()" [class.with-tooltip]="showTooltips">
        Go to Practice
        <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.LOADDATA_GOTOPRACTICE">?</span>
      </button>
    </div>
  </div>

  <div class="info-paragraph-container">
    <p class="info-text">
      Welcome to MemoLibre, your personal flashcard learning assistant! This application helps you create,
      manage, and practice with digital flashcards to enhance your learning experience.
      <br/><br/>
      Getting started is easy: you can either upload an existing flashcard deck by selecting a JSON file with
      the "Select JSON" button at the top or by simply dragging and dropping your file into the designated area.
      If you dont already have a deck, you can go to the "Create Deck" page
      and create a new flashcard deck. When you are done practicing, you can download
      your deck here using the "Download JSON" button.
      <br/><br/>
      Each flashcard in your deck contains front and back sides for question-answer practice, along with
      additional information to enrich your learning. The app tracks your progress and adapts to your learning pace,
      showing cards you find difficult more frequently.
      <br/><br/>
      Once your deck is loaded, click the "Go to Practice" button to begin your study session. Your progress
      and statistics are automatically saved in your deck file, allowing you to continue exactly where you left off
      in your next session.
      <br/><br/>
      If you are unhappy with the way the app looks or works, you can go to the "Settings" pages to adjust the
      appearance and behavior of the app.
      <br/><br/>
      Start your efficient learning journey with MemoLibre today!
    </p>
  </div>



</div>
