<div class="tag-container">
  <div class="top-buttons-container">
    <button class="button" (click)="toggleTagLock()" [class.with-tooltip]="showTooltips">{{ tagLockButtonText }}
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Click to choose a JSON file from your device">?</span>
    </button>
    <button class="button" (click)="toggleSort()" [class.with-tooltip]="showTooltips">{{ sortButtonText }}
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Click to choose a JSON file from your device">?</span>
    </button>
    <button class="button" *ngIf="!isTagInteractionLocked" (click)="openAddTagModal()" [class.with-tooltip]="showTooltips">Add Tag
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Click to choose a JSON file from your device">?</span>
    </button>
  </div>

  <div class="title-wrapper">
    <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipMessage]="'Manage Tags tooltips.'">?</span>
    <h2>Manage Tags</h2>
  </div>

  <form [formGroup]="searchForm">
    <div class="input-wrapper">
      <input
        formControlName="tagRegex"
        placeholder="Search tags with regex"
        [class.input-with-tooltip]="showTooltips"
      />
      <span
        *ngIf="showTooltips"
        class="tooltip-icon"
        appTooltip
        [tooltipMessage]="'Regular expression to match tag keys'"
      >?</span>
    </div>
  </form>
  <div *ngIf="getDeck(); else noDeck">
    <p>Total matching tags: {{ matchingCount }}</p>
    <p *ngIf="matchingCount > maxTagsToShow">
      Showing first {{ displayedTags.length }} of {{ matchingCount }} tags.
    </p>
    <ul>
      <li *ngFor="let tag of displayedTags" class="tag-item">
        <span class="tag-text">
          <span class="tag-key">{{ tag.key }}</span>
          <span class="tag-count">({{ getTagCardCount(tag.key) }})</span>
          <span class="tag-value">{{ getTagValue(tag.key) }}</span>
        </span>
        <button *ngIf="!isTagInteractionLocked" (click)="openTagModal(tag.key)" class="edit-icon">✏️</button>
      </li>
    </ul>
  </div>
  <ng-template #noDeck>
    <p>No deck loaded. Please load a deck first.</p>
  </ng-template>
  <app-tag-modal
    *ngIf="showTagModal"
    [key]="selectedTagKey"
    [value]="getTagValue(selectedTagKey)"
    [isEditable]="!isTagInteractionLocked"
    [currentTags]="getDeck()?.tags || {}"
    (save)="onSaveTag($event)"
    (delete)="onDeleteTag($event)"
    (close)="closeTagModal()"
  ></app-tag-modal>
</div>
