.practice-container {
  overscroll-behavior-y: contain;
  /* Inherit .container from shared.css */
}

.current-card {
  touch-action: pan-y;
  overscroll-behavior-y: contain;
  /* max-height: 80vh;  Adjust based on your layout */
  /* overflow-y: auto;  Enable vertical scrolling if content overflows */
}

/* Add to your practice-page.component.css */
.number-field {
  position: relative;
  font-size: 14px;
  color: #333;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.number-field.with-tooltip {
  padding-left: 30px; /* Space for the tooltip icon */
}

.number-field:not(.with-tooltip) {
  padding-left: 10px; /* Reduced padding when no tooltip is shown */
}


.number-field .tooltip-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}


.practice-count {
  margin-left: 10px; /* Space between last button and counter */
  font-size: 14px;   /* Readable size */
  color: #333;       /* Dark gray for visibility */
}

.positive-count {
  margin-left: 10px; /* Space between last button and counter */
  font-size: 14px;   /* Readable size */
  color: #333;       /* Dark gray for visibility */
}

.tag-lock-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.undo-redo-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); /* Centers the container horizontally */
  display: flex;
  gap: 10px; /* Space between Undo and Redo buttons */
  z-index: 1000;
}

.tag-lock-button {
  /* Inherit .fixed-button from shared.css */
}

p {
  font-size: 1.2em;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.tag-lock-button {
  width: auto;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #333;
  background-color: #f0f0f0;
  color: #000;
  cursor: pointer;
  border-radius: 4px;
  position: fixed; /* Keeps the button fixed in the viewport */
  top: 10px;      /* 10px from the top of the viewport */
  left: 10px;     /* 10px from the left of the viewport */
  z-index: 1000;  /* Ensures it stays above other elements */
}
