<div #practiceContainer class="practice-container" *ngIf="globalStateService.practiceState$ | async as state">
  <div class="top-buttons-container">
    <button class="button" (click)="toggleTagLock()" [class.with-tooltip]="showTooltips">{{ tagLockButtonText }}
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Click to choose a JSON file from your device">?</span>
    </button>
    <button class="button" (click)="undo()" [disabled]="!canUndo()" [class.with-tooltip]="showTooltips">Undo
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Click to choose a JSON file from your device">?</span>
    </button>
    <button class="button" (click)="redo()" [disabled]="!canRedo()" [class.with-tooltip]="showTooltips">Redo
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Click to choose a JSON file from your device">?</span>
    </button>
    <span class="practice-count number-field" [class.with-tooltip]="showTooltips">
    {{ state.practiceCount }}
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Number of practice rounds completed">?</span>
  </span>
    <span class="positive-count number-field" [class.with-tooltip]="showTooltips">
    {{ state.positiveCount }}
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Number of positive responses">?</span>
  </span>
  </div>


  <div *ngIf="state.deck; else noDeck">
    <ng-container *ngIf="state.currentCard as card; else noCard">
      <!-- Add div with #currentCardContainer here -->
      <div #currentCardContainer class="current-card">
        <app-card [card]="card" [showBackSide]="state.showBackSide" [isTagInteractionLocked]="state.isTagInteractionLocked"></app-card>
      </div>
      <div *ngIf="state.previousCard as prevCard">
        <h3>Previous Card</h3>
        <app-card [card]="prevCard" [showBackSide]="true" [isTagInteractionLocked]="state.isTagInteractionLocked"></app-card>
      </div>
    </ng-container>
    <ng-template #noCard>
      <p>No cards to practice. All cards have repetitionValue 0 or the deck is empty.</p>
      <div *ngIf="state.previousCard as prevCard">
        <h3>Previous Card</h3>
        <app-card [card]="prevCard" [showBackSide]="true" [isTagInteractionLocked]="state.isTagInteractionLocked"></app-card>
      </div>
    </ng-template>
  </div>
  <ng-template #noDeck>
    <p>No deck exists. Please load or create a deck first.</p>
  </ng-template>
</div>
