<div #practiceContainer class="practice-container" *ngIf="globalStateService.practiceState$ | async as state">
  <div class="top-buttons-container">
    <button class="button" (click)="toggleTagLock()">{{ tagLockButtonText }}</button>
    <button class="button" (click)="undo()" [disabled]="!canUndo()">Undo</button>
    <button class="button" (click)="redo()" [disabled]="!canRedo()">Redo</button>
    <span class="practice-count">{{ state.practiceCount }}</span>
  </div>
  <div *ngIf="state.deck; else noDeck">
    <ng-container *ngIf="state.currentCard as card; else noCard">
      <!-- Add div with #currentCardContainer here -->
      <div #currentCardContainer>
        <app-card [card]="card" [showBackSide]="state.showBackSide" [isTagInteractionLocked]="state.isTagInteractionLocked"></app-card>
      </div>
      <div *ngIf="state.previousCard as prevCard">
        <h3>Previous Card</h3>
        <app-card [card]="prevCard" [showBackSide]="true" [isTagInteractionLocked]="state.isTagInteractionLocked"></app-card>
      </div>
    </ng-container>
    <ng-template #noCard>
      <p>No cards to practice. All cards have repetitionValue 0 or the deck is empty</p>
      <div *ngIf="state.previousCard as prevCard">
        <h3>Previous Card</h3>
        <app-card [card]="prevCard" [showBackSide]="true" [isTagInteractionLocked]="state.isTagInteractionLocked"></app-card>
      </div>
    </ng-template>
  </div>
  <ng-template #noDeck>
    <p>No deck exists. Please load or create a deck first.</p>
  </ng-template>
</div>
