<div class="container">
  <div class="top-buttons-container">
    <button class="button" (click)="increase()" [class.with-tooltip]="showTooltips">Increase
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip
            [tooltipKey]="TooltipKey.CIRCULATION_INCREASE">?</span>
    </button>
    <button class="button" (click)="decrease()" [class.with-tooltip]="showTooltips">Decrease
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip
            [tooltipKey]="TooltipKey.CIRCULATION_DECREASE"
      >?</span>
    </button>
  </div>

  <div class="title-wrapper">
    <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.CIRCULATION_TITLE"
    >?</span>
    <h2>Manage Circulation</h2>
  </div>

  <form [formGroup]="circulationForm">
    <div class="input-wrapper">
      <input
        type="number"
        min="1"
        formControlName="numberInput"
        class="form-input"
        placeholder="Enter number"
        title="Enter a positive integer to specify how many cards to increase/decrease"
        [class.input-with-tooltip]="showTooltips"
      />
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.CIRCULATION_NUMBER">?</span>
    </div>

    <div class="textarea-wrapper">
      <textarea
        formControlName="cardInput"
        class="card-input"
        placeholder="Enter card range (e.g., 1289-1400) or list (e.g., 132,233,237,321)"
        [class.input-with-tooltip]="showTooltips"
      ></textarea>
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip
            [tooltipKey]="TooltipKey.CIRCULATION_LIST">?</span>

    </div>
  </form>



  <div class="stats">
    <p><strong>Total Cards:</strong> {{ totalCards }}</p>
    <p><strong>Cards in Circulation:</strong> {{ cardsInCirculation }}</p>
    <p><strong>Highest Card in Circulation:</strong> {{ highestCardInCirculation }}</p>
    <h3>Repetition Statistics</h3>
    <ul>
      <li *ngFor="let stat of repetitionStats">
        Repetition Value {{ stat.repetitionValue }}: {{ stat.count }} card(s)
      </li>
    </ul>
  </div>
</div>
