<p>create-deck-component works!</p>

<p *ngIf="resultMessage">Message: {{ resultMessage }}</p>
<p *ngIf="!resultMessage">No message yet.</p>


<!-- Text field to input new deck name -->
<input type="text" [(ngModel)]="newDeckName" placeholder="Enter new deck name" />

<!-- Button to update the deck name -->
<button (click)="updateDeckName()">Update Deck Name</button>

<!-- Display result message
 <p *ngIf="resultMessage" [ngClass]="{'error': resultMessage.startsWith('Error:'), 'success': !resultMessage.startsWith('Error:')}">
  {{ resultMessage }}
</p>
 -->


<!-- CreateDeck Button -->
<div class="create-deck-container">
  <button class="create-deck-button" (click)="createDeck()">Create Deck</button>
</div>

<!-- Text field to input deck name -->
<div class="text-field-container">
  <textarea
    class="create-deck-input"
    [(ngModel)]="newDeckContent"
    (input)="onDeckContentChange(newDeckContent)"
  placeholder="Enter deck content"
  rows="4"
  ></textarea>
</div>


