

.create-deck-container,
.input-container,
.text-field-container {
  margin-bottom: 20px;
  text-align: center;
}

.create-deck-input {
  width: 60vw;
  height: 150px;
  resize: both;
}

@media (max-width: 768px) {
  .create-deck-input {
    width: 60vw;
  }
}
