<!-- Button to select a JSON file -->
<div class="file-select-container">version: 2025-04-17_13.03</div>

<div class="file-select-container">
  <div class="button-wrapper">
    <button class="file-select-button" (click)="fileInput.click()" [class.with-tooltip]="showTooltips">
      Select JSON File
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Click to choose a JSON file from your device">?</span>
    </button>
  </div>
  <input
    #fileInput
    type="file"
    accept=".json"
    (change)="onFileSelected($event)"
    class="hidden-input"
  />
</div>

<!-- Button to download JSON file -->
<div class="file-select-container">
  <div class="button-wrapper">
    <button class="file-select-button" (click)="downloadFlashCardDeck()" [class.with-tooltip]="showTooltips">
      Download JSON File
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Click to download the current FlashCardDeck as a JSON file.">?</span>
    </button>
  </div>
</div>

<!-- Drag and drop zone -->
<div class="drag-drop-zone" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)">
  <div class="drag-drop-wrapper">
    <p *ngIf="!fileName">Drag and drop a JSON file here</p>
    <p *ngIf="fileName">Dropped file: {{ fileName }}</p>
  </div>
  <span *ngIf="showTooltips" class="tooltip-icon" appTooltip tooltipMessage="Drag a JSON file here to load it into the app. It must be formattet correctly">?</span>
</div>
