<p>load-user-data works!</p>

<!-- Button to select a JSON file -->
<div class="file-select-container">
  <button class="file-select-button" (click)="fileInput.click()">
    Select JSON File
  </button>
  <input
    #fileInput
    type="file"
    accept=".json"
    (change)="onFileSelected($event)"
    class="hidden-input"
  />
</div>


<div class="file-select-container">
  <button class="file-select-button" (click)="downloadFlashCardDeck()">
    Download JSON File
  </button>
</div>



<!-- Drag and drop zone -->
<div
  class="drag-drop-zone"
  (dragover)="onDragOver($event)"
  (drop)="onFileDrop($event)"
>
  <p *ngIf="!fileName">Drag and drop a JSON file here</p>
  <p *ngIf="fileName">Dropped file: {{ fileName }}</p>
</div>
