<div #searchContainer class="container">
  <div class="top-buttons-container">
    <button class="button" (click)="toggleTagLock()" [class.with-tooltip]="showTooltips">{{ tagLockButtonText }}
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.SEARCH_UNLOCKTAGS">?</span>
    </button>
    <button class="button" (click)="clearSearchAndScrollToTop()" [class.with-tooltip]="showTooltips">Clear
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.SEARCH_CLEAR">?</span>
    </button>
  </div>

  <div class="title-wrapper">
    <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.SEARCH_TITLE">?</span>
    <h2>Search Cards</h2>
  </div>

  <form [formGroup]="searchForm">
    <div class="input-wrapper">
      <input formControlName="maxResultsLimit" placeholder="Maximum Results Limit (e.g., 10)" [class.input-with-tooltip]="showTooltips" />
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.SEARCH_MAXRESULTSLIMIT">?</span>
    </div>
    <div class="input-wrapper">
      <input formControlName="cardNumberSearch" placeholder="Card Number or Range (e.g., 1-5)" [class.input-with-tooltip]="showTooltips" />
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.SEARCH_CARDNUMBERFIELD">?</span>
    </div>
    <div class="input-wrapper">
      <input formControlName="frontSideRegex" placeholder="Front Side Regex" [class.input-with-tooltip]="showTooltips" />
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.SEARCH_FRONTSIDEREGEXFIELD">?</span>
    </div>
    <div class="input-wrapper">
      <input formControlName="backSideRegex" placeholder="Back Side Regex" [class.input-with-tooltip]="showTooltips" />
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.SEARCH_BACKSIDEREGEXFIELD">?</span>
    </div>
    <div class="input-wrapper">
      <input formControlName="tagsRegex" placeholder="Tags Regex" [class.input-with-tooltip]="showTooltips" />
      <span *ngIf="showTooltips" class="tooltip-icon" appTooltip [tooltipKey]="TooltipKey.SEARCH_TAGREGEXFIELD">?</span>
    </div>
  </form>
  <div *ngIf="getDeck(); else noDeck">
    <div *ngIf="matchingCards.length > 0">
      <h3>Matching Cards (showing {{ displayedCards.length }} of {{ matchingCount }}):</h3>
      <div *ngFor="let card of displayedCards">
        <app-card [card]="card" [showBackSide]="true" [isTagInteractionLocked]="isTagInteractionLocked"></app-card>
      </div>
    </div>
  </div>
  <ng-template #noDeck>
    <p>No deck loaded. Please load a deck first.</p>
  </ng-template>
</div>
